@import "tailwindcss";

:root {
  /* font-family: "DynaPuff", system-ui; */
  /* font-family: "Comic Relief", system-ui; */
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.playful-text {
  font-family: "Comic Relief", system-ui;
}

.header-text {
  font-family: "Contrail One", sans-serif;
}

.sub-header-text {
  font-family: "Quicksand", sans-serif;
}
